body{
    margin: 0;
    padding: 0;
}

body img{
    max-width: 100%;
}

.content-area{
    padding: 30px 0;
}

.content-area .container{
    width: 860px;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
